
.main {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;

    background: url(../images/moscow.jpg);
}

.header{
    position: absolute;
    width: 1394px;
    height: 78px;
    left: 108px;
    top: 64px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;

    color: #FFFFFF;
}

.okrug_label {
    position: absolute;
    width: 126px;
    height: 49px;
    left: 108px;
    top: 239px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */


    color: #FFFFFF;
}

.okrug_selector {
    position: absolute;
    width: 276px;
    height: 79px;
    left: 100px;
    top: 317px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;

    background: #4E95A5;
    opacity: 0.7;
    border-radius: 20px;
}

/* Метро */

.metro_label {
    position: absolute;
    width: 135px;
    height: 49px;
    left: 451px;
    top: 239px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */


    color: #FFFFFF;
}

.metro_selector{
    position: absolute;
    width: 300px;
    height: 85px;
    left: 451px;
    top: 317px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;

    background: #4E95A5;
    opacity: 0.7;
    border-radius: 20px;
}

.route_time_label{
    position: absolute;
    width: 300px;
    height: 98px;
    left: 108px;
    top: 431px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;

    color: #FFFFFF;
}

.route_time_input{
    position: absolute;
    width: 272px;
    height: 79px;
    left: 102px;
    top: 564px;

    background: #4E95A5;
    opacity: 0.7;
    border-radius: 20px;
}

.total_area_label{
   position: absolute;
    width: 268px;
    height: 98px;
    left: 102px;
    top: 681px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;

    color: #FFFFFF;
}

.total_area_input{
    position: absolute;
    width: 267px;
    height: 80px;
    left: 100px;
    top: 814px;

    background: #4E95A5;
    opacity: 0.7;
    border-radius: 20px;
}

.distance_from_center_label{
    position: absolute;
    width: 268px;
    height: 98px;
    left: 451px;
    top: 431px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

.distance_from_center_input{
    position: absolute;
    width: 267px;
    height: 80px;
    left: 451px;
    top: 566px;

    background: #4E95A5;
    opacity: 0.7;
    border-radius: 20px;
}

.rooms_label{
    position: absolute;
    width: 268px;
    height: 98px;
    left: 832px;
    top: 200px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;

    color: #FFFFFF;

}

.rooms_input{
    position: absolute;
    width: 228px;
    height: 85px;
    left: 832px;
    top: 317px;

    background: #4E95A5;
    opacity: 0.7;
    border-radius: 20px;
}

.submit_button{
    position: absolute;
    width: 498px;
    height: 153px;
    left: 997px;
    top: 769px;

    background: #4E95A5;
    opacity: 0.7;
    border-radius: 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;

}

.submit_label{
    position: absolute;
    width: 319px;
    height: 59px;
    left: 1233px;
    top: 437px;
}

.prediction{
    position: absolute;
    width: 1297px;
    height: 59px;
    left: 318px;
    top: 661px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */


    color: #FFFFFF;
}